<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/client-js.js"></script>
</head>

<body>
    {{>header}}
    <h1>For help contact</h1>
    <p>{{Contact}}</p>
</body>

</html>